#me{
    padding: 0;
    margin: 0;
    list-style: none;
}
.navi{
     width: 400px;
     margin: 20px auto;
     background-color: #222438;
     padding: 0 20px;
     min-height: 40px;
}
.navi > li{
    color: aliceblue;
    padding: 15px 10px;
    float: left;

}
.navi > li a{
    color: aliceblue;
    text-decoration: none;
}
.navi .menu{
    position: relative;
}
.navi .menu .submenu{
    position: absolute;
    top: 42px;left: 0;
    width: 220px;
    background-color: aliceblue;
    padding: 10px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.5) ;
 box-shadow: 0 1px 1px rgba(0,0,0,.5);
 display: none;
}
.navi .menu .submenu li{
    padding: 10px;
    
}
.navi .menu .submenu li a{ 
    color: #777;
    text-decoration: none;    
}
.navi .menu .submenu li a:hover{

    color: #222438;
    text-decoration: none;    
}
.navi .menu:hover .submenu{
    display: block;
}

